.Bodyid1siteid106{
	background-color:#F5F5F5;
	background-position: bottom  left;
	Font-family: Arial, Helvetica, Verdana, sans-serif;
	font-size: 11px;
	Color: black;
	text-align: left;

}

body{
	background-color:#F5F5F5;
	background-position: bottom  left;
	Font-family: Arial, Helvetica, Verdana, sans-serif;
	font-size: 11px;
	Color: black;
	text-align: left;
}


/*LAYOUT ELEMENTS-->*/

#outer{
	height: 100%;
	width: 100%;
	margin: auto;
	text-align: center;
	padding-bottom: 30px;
	padding-top: 30px;
	Font-family: Arial, Helvetica, Verdana, sans-serif;
	font-size: 11px;
}

#blank {
	background-color: #ffffff;
	height: 100%;
	width: 100%;
	margin: auto;
	text-align: center;
	padding-bottom: 30px;
	padding-top: 30px;
	Font-family: Arial, Helvetica, Verdana, sans-serif;
	font-size: 11px;
}

#banner {
	position: relative;
	/*background-image: url("../images/tausta.png");*/
	background-image: linear-gradient(to right, rgba(225,225,225, 1), rgba(255,0,0,0), rgba(0,0,0,0));
	/*background-repeat: repeat-y;*/
	background-color: #ffffff;
	border-top: 1px solid #ebecec;
	border-right: 1px solid #ebecec;
	border-left: 1px solid #ebecec;
	text-decoration: none; 
	text-align: left;
	padding: 0;
	width: 100%;
	Font-family: Arial, Helvetica, Verdana, sans-serif;
	font-size: 11px;
}

#banner img { 
	position: relative;
	margin-top:30px; 
	margin-bottom:30px; 
	margin-left:10px; 
	border: 0px; 
	margin-right: 20px;
	padding: 0;
}

#language {
	  position: absolute;
	  width: 100px;
	  height: 25px;
	  right: -2px;
	  top: 54px;
}

#logout {
	  position: absolute;
	  width: 100px;
	  height: 30px;
	  right: 4px;
	  top: 1px;
	  text-align: right;
}

#banner_inner_right {
	  position: absolute;
	  width: 150px;
	  height: 30px;
	  right: 5px;
	  top: 5px;
	  text-align: right;
          color: #257ca7;
	Font-family: Arial, Helvetica, Verdana, sans-serif;
	font-size: 11px;
}

#banner_inner_right a {
          color: #257ca7;
}

.user_name{
	Font-family: Arial, Helvetica, Verdana, sans-serif;
	font-size: 11px;
	padding-top: 12px;
	padding-left: 51px;
	margin-bottom: 5px;
	color: #f07f07;
	vertical-align: top;
}


.page_name{
	Font-family: Arial, Helvetica, Verdana, sans-serif;
	padding-top: 51px;
	padding-left: 60px;
	margin: 0;
	font-size: 16px;
	color: #f07f07;
	vertical-align: top;
	Font-weight: bold;
}

#page {
	position: relative;
	width: 88%;
	margin: 0 auto;
	text-align: left;
	Font-family: Arial, Helvetica, Verdana, sans-serif;
	font-size: 11px;
}


#menu {
    	font-family:  'Lucida Grande', Verdana, Arial, sans-serif;
	background-color: #f07f07;
	text-align: left;
	margin: 0px;
	padding-top: 5px;
	padding-bottom: 5px; 
	width: 100%;
	border-left: 1px solid  #ebecec;
	border-right: 1px solid  #ebecec;
	border-bottom: 5px solid #ebecec;
}

#menu a { 

	background-color: #f07f07;
	border-right: 1px solid  #ebecec;
	text-transform: uppercase;
	font-size: 12px;
	letter-spacing: 1px;
	color: #ffffff;
	text-decoration: none; 
	margin: 0px;
	padding: 6px 25px;
}



#page #menu a.selected {
	background-color: #eba03e;
	background-image: url("../images/vakanen_white.gif");
	background-repeat: no-repeat;
	background-position: bottom;
	text-decoration: none; 
}


#childmenu {
    font-family: 'Lucida Grande', Verdana, Arial, sans-serif;
	background-color: #f07f07;
	text-align: left;
	border-left: 1px solid  #ebecec;
	border-right: 1px solid  #ebecec;
	margin: 0;
	width: 100%;
	padding-top: 4px;
	padding-bottom: 4px;
}

#childmenu a { 
	background-color: #f07f07;
	font-size: 11px;
	letter-spacing: 1px;
	color: #ffffff;
	text-decoration: none; 
	margin: 0;
	padding: 5px 25px;
}


#page #childmenu a.selected {
	background-color: #eba03e;
	background-image: url("../images/vakanen_white.gif");
	background-repeat: no-repeat;
	background-position: bottom;
	text-decoration: none; 
}


#content {
	position: relative;
	text-align: center;
	background-color: #ffffff;
	border-right: 1px dotted gray;
	border-left: 1px dotted gray;
	border-bottom: 1px dotted gray;
	width: 100%;
	Font-family: Arial, Helvetica, Verdana, sans-serif;
	font-size: 11px;
}

#inner_content {
	text-align: left;
	background-color: #ffffff;
	min-height: 540px;
	padding-top: 10px;
	margin-bottom: 30px;
	margin-left: auto;
	margin-right: auto;
	width: 90%;
	height: 100%
	Font-family: Arial, Helvetica, Verdana, sans-serif;
	font-size: 11px;
}

#centered {
	text-align: center;
	text-align: -moz-center; 
}

/*<--LAYOUT ELEMENTS*/



/*COMMON ELEMENTS-->*/


h1 {
   	text-align: left;
   	font-size: 16px;
   	Font-weight: bold;
}

h2 {
   	text-align: left;
   	font-size: 14px;
   	Font-weight: bold;
}

h3 {
   	text-align: left;
	font-size: 11px;
}

p {
   	text-align: left;
	font-size: 11px;

}

a {
    color: #006699;
    text-decoration: none;
}

a:link {
    color: #006699;
    text-decoration: none;
}
a:visited {
    color: #006699;
    text-decoration: none;
}
a:hover {
    color: #676767;
    text-decoration: none;
}
a:active {
    color: #676767;
    text-decoration: none;
}


a img {
  	border: 0px;
	BORDER-BOTTOM: #E3956F 0px solid;
  	padding: 0px;
}

.alert {
	color: blue;
    padding: 3px;
}

.link {
     COLOR: #3fa3bd;
}

.form {
     margin: 0;
     margin-top: 12;
     border: 0px;
     border-collapse: collapse;
}


.line {
     border-top: 2px solid #eba03e;
}


.errormessage {
    color: red;
    padding: 3px;
}

.error {
    color: red;
    padding: 3px;
}

span.error {
    display: block;
    color: red;
    padding: 3px;
}

.message {
     color: blue;
}

.anchor {
     COLOR: black;
}

/* footer div */
#footer {
	background-color: #f1eff0;
	height: 24px;
	line-height: 24px;
	text-align: right;
	color: #8d8d8d;
	padding: 3px;
	margin-top: 10px;
	clear: both;
}

#footer > *:hover {
	color: #069;
	cursor: pointer;
}

/*<--COMMON ELEMENTS*/




/*SPAN ELEMENTS-->*/

span {
    display:-moz-inline-box; /* Gecko proprietary */
    display:-moz-inline-block;
    display:inline-block; /* supported by Opera and ? */
} /* IE, Opera & Gecko slight diff */

span.header {
    font-weight: bold;
    font-size: 125%;
}


span.first_input {
    padding: 5px 10px 5px 10px;
    float: left;
    width: 35%;
    display: block;
}

span.second_input {
		  padding: 5px 10px 5px 10px;
		  float: left;
    width: 35%;
    display: block;
}

span.third_input {
    padding: 5px 10px 5px 10px;
    float: left;
    display: block;
}

span.clickable {
    cursor: default;
}

/*<--SPAN ELEMENTS*/


/*TABLE ELEMENTS-->*/


th {
	text-align: left;
	font-size: 11px;
}

th img {
	vertical-align:text-bottom;
	padding-left: 5px;
	padding-right: 5px;
}


td {
	text-align: left;
	font-size: 11px;
}

td.no_border{
    border-left: 0;
    border-right: 0;
    width: 20%;
}

td.no_border_smaller{
    border-left: 0;
    border-right: 0;
    width: 10%;
}


table.wide {
    width: 100%;
}

td.header_cell {
    font-weight: bold;
    font-size: 110%;
    background-color: #f3f3f3; /*harmaa*/
    border: 1px solid #ebecec; /*tummempi harmaa*/
    width: 100%;
    text-align: center;
    padding: 5px;
}



.blank_table {
    width: 95%;
    border: 0;
    vertical-align: bottom;
}

.blank_table td{
    vertical-align: bottom;
}



table.edit_choice {
     border-collapse: collapse;
     width: 90%;
}

tr.hidden {
    display: none;
}

tr.moving {
    border: 3px solid red;
} 

/* COMMON TABLE--> */
.common {
     background-color: #f7f8f9;
     margin: 0;
     margin-top: 12;
     /*border: 1px solid #ebecec;*/
     border-collapse: collapse;
     width: 100%;
}


table.common tr.odd {
    background-color: #f7f8f9;
}

table.common tr.even{
    background-color: #ebecec;
}

table.common tr:hover, tr.even:hover, tr.odd:hover {
    background-color: #d8d8d8;
}


table.common tbody.row-wrapper-even:hover {
    background-color: #e0e0e0;
}

table.common tbody.row-wrapper-odd:hover {
    background-color: #e0e0e0;
}


table.common tbody.row-wrapper-even {
    background-color: #ebecec;
}

table.common tbody.row-wrapper-odd {
    background-color: #f7f8f9;
}




table.common tr th {
     background-color: #eba03e;
     padding: 4px;
     color: #ffffff;
     border-bottom: 1px solid #ebecec;
}

table.common tr td {
     padding: 3px;
     border-top: 1px solid #ebecec;
     border-bottom: 1px solid #ebecec;
     border-left: 1px solid #ebecec;
     border-right: 0px;
}

table.common tr td.icon {
      padding: 1px;
      border-left: 0px;
      border-right: 0px;
}

table.common a {
     border: 0px;
}

table.common td.empty {
    background-color: white;
    border: medium none;
}

/* <--COMMON TABLE */


/* COMMON_PLAIN TABLE--> */
.common_plain {
     background-color: #f3f3f3;
     margin: 0;
     margin-top: 12;
     border: 1px solid #ebecec;
     border-collapse: collapse;
     width: 90%;
}

table.common_plain tr th {
     background-color: #eba03e;
     padding: 4px;
     color: #ffffff;
     border-bottom: 1px solid #ebecec;
}

table.common_plain tr td {
     padding: 3px;
     border-top: 1px solid #f3f3f3;
     border-bottom: 1px solid #ebecec;
}

table.common_plain tr td.icon {
      padding: 1px;
      border-left: 0px;
      border-right: 0px;
}

table.common_plain a {
     border: 0px;
}
/* <--COMMON_PLAIN TABLE */  


table#questions {
    border: none;
}

table#questions tr {
    border-left: 1px solid #ebecec;
    border-right: 1px solid #ebecec;
}

table#questions tr.empty, table#questions tr.empty td {
    background-color: white;
    border-left: none;
    border-right: none;
}

table.common tr.empty, table.common tr.empty td {
    background-color: white;
    border-left: none;
    border-right: none;
    border-bottom: none;
}


/*<--TABLE ELEMENTS*/


/* Whitespace characters are shown, like line break. */
.prebr {
	white-space: pre-wrap;
}




