/*
table.common {
    border: none;
}
*/

/*
table.common th {
    border: 1px solid #FF5900;
}
*/

/*
table.common td.empty {
    background-color: white;
    border: none;
}
*/

div#pop-up.visible {
	background-color: transparent;
	position: absolute;
	display: block;
	visibility: visible;
	z-index: 100;
	width: 200px;
	height: 100px;
	left: 50%;
	top: 50%;
	margin-left: auto;
	margin-right: auto;
	margin-top: -30px;

	font-size: 150%;
	font-weight: bold;
	
	padding: 5px;
}

div#pop-up.hidden {
	position: absolute;
	display: none;
	visibility: hidden;
	z-index: 100;
	width: 0px;
	height: 0px;
	left: -1000;
	top: -1000;
}

